.blocka__btn {
    width: 300px;
    margin-top: 36px;
    padding: 30px 30px;
    border: 2px solid #000;
    color: black;
    border-radius: 100px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    backdrop-filter: blur(.5px);
    font-variant: small-caps;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
}

.blocka__btn:hover {
    cursor: pointer;
    background-color: white;
    opacity: .3
}

