.blocka__btn {
    width: 300px;
    margin-top: 36px;
    padding: 14px 30px;
    border: 2px solid #000;
    background-color: black;
    color: white;
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.blocka__btn:hover {
    cursor: pointer;
    background: #1B1B1B;
}

