.map {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 480px) {
    .map {
        height: 100%;
        min-height: 100%;
        min-height: -webkit-fill-available;
    }
}