.blocka__title {
    margin-bottom: 36px;
    font-family: 'PT Serif', sans-serif;
    font-size: 84px;
    line-height: 86%;
    font-weight: 700;
}

@media (max-width: 480px) {
    .blocka__title {
        font-size: 56px;
    }
}