.blockb__btnframe, .blockb__btnframe-1 {
    width: 100%;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.blockb__btnframe {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.blockb__btnframe.hidden, .blockb__btnframe-1.hidden {
    width: 0px;
}

.blockb__btnframe-1.hidden {
    display: none;
}

.blockb__btnframe.c1 {
    width: 200px;
}

.blockb__btnframe.c1.en {
    width: 240px;
}

.blockb__btnframe.c2 {
    width: 475px;
}

.blockb__btnframe.c2.en {
    width: 450px;
}

.blockb__btnframe-1.c1 {
    width: 140px;
}

.blockb__btnframe-1.c2 {
    width: 140px;
}

@media (max-width: 480px) {
    .blockb__btnframe.c1 {
        width: 181px;
    }  

    .blockb__btnframe.c2 {
        width: 444px;
    }
}