.blockb__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    margin-right: 16px;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0px;
    background-color: #fff;
    box-shadow: 0 4px 15px -4px rgb(0 0 0 / 38%);
    overflow: hidden;
    width: auto;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.blockb__btn.help {
    padding-left: 12px;
    padding-right: 12px;
}

.blockb__btn.help:hover {
    background-color: #eee;
    cursor: pointer
}

@media (max-width: 480px) {
    .blockb__btn {
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 12px;
    }

    .blockb__btn.help {
        padding-left: 12px;
        padding-right: 12px;
    }
}


.blockb__btn.hidden {
    display: none;
    width: 0%
}