@import './cover/blocka__cover.css';
@import './title/blocka__title.css';
@import './description/blocka__description.css';
@import './btn/blocka__btn.css';

.blocka {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: black;
    font-family: 'Roboto';
}

@media (max-width: 480px) {
    .blocka {
        height: auto;
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
}

.blocka.hidden {
    display: none;
}